<?xml version="1.0"?>
<launch>

    <arg name="project" default="lio_sam"/>

    <env name="ROSCONSOLE_CONFIG_FILE" value="$(find lio_sam)/launch/include/rosconsole/rosconsole_error.conf"/>
    
    <!-- EKF GPS-->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_gps" respawn="true">
    </node>

    <!-- Navsat -->
    <node pkg="robot_localization" type="navsat_transform_node" name="navsat" respawn="true">
        <!-- rosparam param="datum">[37.56210553147844, 126.9344762777947, 0.0, map, odom]</rosparam -->
        <remap from="imu/data" to="mti30/imu/data" />
        <remap from="gps/fix" to="pwk7/gps/fix" />
    </node>

</launch>
